<div class="bg-main-light py-4">
    <div class="container">
        <h2 class="fs-3">Get The FreshCart App</h2>
        <p>We will send you a link, open it on your phone to download the app</p>
        <div class="d-flex justify-content-center align-items-center py-2">
            <input type="text" class="form-control w-75 mx-2" placeholder="Email..">
            <button type="button" class="bg-main text-white py-2 px-4 mx-2 border-0 rounded-2">Share App Link</button>
        </div>
        <hr>
        <div class="payment d-flex flex-column flex-lg-row justify-content-between align-items-center">
            <div class="left d-flex justify-content-start align-items-center">
                <p class="m-0 fw-semibold">Payment Partners</p>
                <img src="assets/footer pics/amazon.png" class="footerImg mx-1" alt="">
                <img src="assets/footer pics/amex.png" class="footerImg mx-1" alt="">
                <img src="assets/footer pics/mastercard.png" class="footerImg mx-1" alt="">
                <img src="assets/footer pics/paypal.png" class="footerImg mx-1" alt="">
            </div>
            <div class="left d-flex justify-content-end align-items-center">
                <p class="m-0 fw-semibold">Get Delieveries with FreshCart</p>
                <img src="assets/footer pics/apple.png" class="footerImgR" alt="">
                <img src="assets/footer pics/google.png" class="footerImgR" alt="">
            </div>
            <div>
                <i class="fa-brands fa-instagram mx-2 cursor-pointer"></i>
                <i class="fa-brands fa-facebook mx-2 cursor-pointer"></i>
                <i class="fa-brands fa-tiktok mx-2 cursor-pointer"></i>
                <i class="fa-brands fa-twitter mx-2 cursor-pointer"></i>
                <i class="fa-brands fa-linkedin mx-2 cursor-pointer"></i>
                <i class="fa-brands fa-youtube mx-2 cursor-pointer"></i>
            </div>
        </div>
    </div>
</div>