<div class="container">
    <div class="w-75 mx-auto py-4">
        <h4>Login</h4>
        <div  *ngIf="errorMsg" class="alert alert-danger">
            {{errorMsg}}
        </div>
        <form [formGroup]="loginForm" class="register-form" (ngSubmit)="loginUser(loginForm)">

            <label for="email" class="text-capitalize mt-2 mb-1">email</label>
            <input formControlName="email" type="text" id="email" class="form-control">
            <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="alert alert-danger my-1">
                <p class="m-0" *ngIf="loginForm.get('email')?.getError('required')|json">Email is Required</p>
                <p class="m-0" *ngIf="loginForm.get('email')?.getError('email')|json">Email is not Valid</p>
            </div>

            <label for="password" class="text-capitalize mt-2 mb-1">password</label>
            <input formControlName="password" type="password" id="password" class="form-control">
            <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="alert alert-danger my-1">
                <p class="m-0" *ngIf="loginForm.get('password')?.getError('required')|json">Password is Required</p>
                <p class="m-0" *ngIf="loginForm.get('password')?.getError('pattern')|json">Password First Letter Must be Capital and contains A-Z a-z 0-9 | Password Length from 8 to 16</p>
            </div>

            <div class="text-end">
                <button [disabled]="loginForm.invalid" type="submit" class="btn bg-main text-white my-4">
                    <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i>
                    <span *ngIf="!isLoading">Login</span></button>
            </div>
        </form>
    </div>
</div>