.row {
    width: 100%;
}

.btn-page {
    border: 01px solid #0aad0a;
}

.ON {
    background-color: #0aad0a;
    color: white;
}

.search-input input:focus {
    border-color: #0aad0a81;
    box-shadow: 0 0 0 1px #0aad0a81;
}