
<div *ngIf="noorder" class="emptywishlist p-4 my-4">
    <div class="inner-image text-center">
        <img src="../../assets/noorder.jpg" alt="">
    </div>
    <div class="txt text-center fs-5 py-2">
        <p>We noticed you haven't placed any orders with us.</p>
    </div>
</div>


<div *ngIf="!noorder">
    <h2 class="fw-semibold fs-h4 my-4">All Orders</h2>
    <div class="bg-main-light p-4 my-4" *ngFor="let order of myOrders">
        <h5 class="fw-semibold">Order Number {{order?.id}}</h5>
        <p class="m-0">Total Order Price: {{order.totalOrderPrice | currency: 'EGP '}}</p>
        <div *ngFor="let cart of order.cartItems">
            <div class="row">
                <div class="col-md-1 rounded-2">
                    <img [src]="cart.product.imageCover" class="w-100 rounded-2" alt="">
                </div>
                <div class="col-md-11 prod-details d-flex justify-content-between align-items-center">
                    <div>
                        <h5>{{cart.product.title}}</h5>
                        <p class="m-0">{{cart.price | currency : 'EGP '}}</p>
                        <p>Number of Products purchased: {{cart.count}}</p>
                    </div>
                </div>
            </div>
            <hr class="my-4">
        </div>
        <p>Ordered at: {{order.paidAt | date}}</p>
    </div>
</div>